<div class="main-content m-0">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain mb-0">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Liste des Journalistes</h4>
                        <p class="card-category"> Détail a propos des Journalistes dans le site web</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prénom
                                    </th>
                                    <th>
                                        Statut
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota
                                        </td>
                                        <td>
                                            Rice
                                        </td>
                                        <td>
                                            Active
                                        </td>
                                        <td>
                                            <div class="btn"><i class="material-icons">create</i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva
                                        </td>
                                        <td>
                                            Hooper
                                        </td>
                                        <td>
                                            <del>Active</del>
                                        </td>
                                        <td>
                                            <div class="btn"><i class="material-icons">create</i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage
                                        </td>
                                        <td>
                                            Rodriguez
                                        </td>
                                        <td>
                                            <del>Active</del>
                                        </td>
                                        <td>
                                            <div class="btn"><i class="material-icons">create</i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip
                                        </td>
                                        <td>
                                            Chaney
                                        </td>
                                        <td>
                                            Active
                                        </td>
                                        <td>
                                            <div class="btn"><i class="material-icons">create</i></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success">Ajouter</button>
            </div>
        </div>
    </div>
</div>